* {
    font-size: Arial;
}

.titulo-inicio {
    text-align: center;
    color: #fff;
    margin-top: 0%;
    font-size: 2.5rem;
    padding: 20px 0;
}

.nav-index {
    display: flex;
    justify-content: space-around;
    margin-top: 0%;
    font-size: 19px;
}